.string-select-group {
	min-width: 220px;

	@media (max-width: 767px) {
		width: 100%;
	}
}

.string-select {
	min-width: 220px;
	padding: 10px;
	border-radius: 11px;
	border: 1px solid $gray-2;
	font-family: $mainFont;
	font-size: 14px;
	line-height: 19px;
	font-weight: 400;;
	cursor: pointer;
	overflow: hidden;
	text-overflow: ellipsis;
	resize: none;

	&:hover {
		border: 1px solid $gray-dark;
	}

	&:focus {
		border: 1px solid $gray-dark;
		box-shadow: 0 1px 6px 0 rgb(0 0 0 / 12%);
		cursor: text;
		text-decoration: none;
		color: $mainFontColor;
	}

	&_disabled {
		color: $gray-4;
	}

	&_error {
		background-color: $warning-color; 
		border-color: $yellow;
		color: $orange;
		opacity: 0.7;
	}

	&-option {
		&_disabled {
			color: $gray-4;
		}
	}

	@media (max-width: 767px) {
		width: 100%;
	}
}

select {
	-webkit-appearance: none;
	appearance: none;
}

select {
	background-image: url("../../../assets/img/carret.svg");
	background-size: 10px;
	background-repeat: no-repeat;
	background-position: calc(100% - 10px) center;
}
