// Main color
$black					 : #000000;
$white		             : #FFFFFF;
$gold                    : #ffd347;
$warning-color           : #fed330;
$red		             : #C31631;
$red-2		             : #C10933;
$orange                  : #ed604e;
$yellow                  : #fff7e2;
$gray		             : #0ABAB5;
$gray-2                  : #E6E6EB;
$gray-3                  : #A7A7B6;
$gray-4                  : #9292A0;
$gray-5                  : rgb(245,245,245);
$gray-dark               : #696977;
$purpur-blue             : #59585d;

// Font
$mainFont                : "Montserrat", "OpenSans-Regular", sans-serif;

// Size
$mainFontColor           : $black;
$mainFontSize            : 16px;
$mainFontWeight          : 500;        
$mainLineHeight          : 20px;